body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-color: var(--blueprint-color);

    --blueprint-color: #243E89;
  }

  canvas {
      background-color: var(--blueprint-color);
  }